.me-2 {
    border-radius: 8px;
    border-color: rgb(199, 193, 193);
}
.cards {
    margin-top: 60px;
    padding: 20px;
}

.cards img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cards ul {
    padding-left: 0;
}

.cards li {
    font-size: 1.2rem;
    line-height: 1.6;
}

.cards li h4 {
    font-size: 1.5rem; /* Aumenta o tamanho do título */
    margin-bottom: 0.5rem;
    color: #333;
}

.cards li p {
    font-size: 1.1rem; /* Aumenta o tamanho do texto */
    color: #555;
}

.cards .icon {
    width: 40px; /* Ajuste o tamanho do ícone */
    height: 40px;
    object-fit: contain; /* Mantém proporção do ícone */
}



.navbar {
    background-color: #323c48 !important; /* Cor da navbar */
    height: 130px; /* Define a altura da navbar */
    padding: 10; /* Remove os paddings padrão */
}

.navbar-brand {
    padding: 0; /* Remove o espaço à esquerda */
    margin: 0; /* Remove margens adicionais */
}

.navbar-brand img {
    height: 130px; /* Ajusta a altura da logo ao tamanho da navbar */
    width: auto; /* Mantém a proporção da imagem */
}

.nav-link {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

.homeImg {
    height: 500px;
}